body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
     width: 100px;
     height: 50px;
     border-radius: 10px;
     border: 1px solid black;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#orange{
    background-color: orange;
}
#green{
    background-color: green;
}
#purple{
    background-color: purple;
}