body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
}
#root{
  background-color: rgb(214, 206, 206);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.first{
    background-color: wheat;
    height: 200px;
    width: 300px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button{
    height: 40px;
    background-color: orchid;
    margin: 10px;
    border-radius: 5px solid rgb(216, 191, 191);
}
   
