*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(227, 223, 223);
    color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    background: rgb(240, 237, 232);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h1{
    margin-bottom: 20px;
    color: rgb(90, 42, 42);
}
.quote-box{
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid blueviolet;
    font-style: italic;
    border-radius: 5px;
    background: white;
}
button{
    
    background-color:rgb(151, 186, 220);;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    color: rgb(232, 239, 234);
}
:hover button{
    cursor: pointer;

}
