*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#first{
    background-color: rgb(230, 105, 105);
    color: white;
    font-size: 30px;
}
#second{
    background-color: blue;
    color: wheat;
    font-size: 30px;
}
#third{
    background-color: rgb(13, 179, 13);
    color: wheat;
    font-size: 30px;
}